
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    
  font-family: 'Roboto', sans-serif;
}
header nav ul li a{
    text-decoration: none;
    color: #f2f2f2;
}
header nav{
    text-align: right;
    background-color: #0d5c63;
   position:fixed;
   width: 100%;
  
}
p{
    color: #0d5c63;
}
.info{
    margin-top: 60px;
}
.info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 100px;
}

.container{
margin-left: 100px;
margin-right: 100px;
position:absolute;
}
.contactInfo{
    padding-top: 70px;
}
.contactInfo h2{
    color: #0d5c63;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    word-spacing: 5px;
    text-shadow: 1px 1px 1px rgb(75,75,75);
}
.contactinfo{
    font-weight: bolder;
    color: #0d5c63;
    letter-spacing: 2px;
}
.technology h3 table,td{
    color: #0d5c63;
}
.summary{
    margin-top: 40px;
    border: #0d5c63;
   
}
.summary ul li{
    padding: 7px 7px;
    color: #0d5c63;
}
#titl{
   
    border-color: #0d5c63;
    margin-top: 40px;
    width: 98%;
    background-color: #998156;
    color:#0d5c63;
    
}
#techstack{
    border-color: #0d5c63;
    margin-top: 40px;
    width: 98%;
    background-color: #998156;
    color:#0d5c63;
    }
#techstack::before{
    content:'💻';
}
#techstack::after{
    content:'💻';
}
.technology table,td{
    margin-top: 10px;
}
#education h4{
    border-color: #0d5c63;
    margin-top: 40px;
    width: 98%;
    background-color: #998156;
    color:#0d5c63;
    padding: 5px;
    
}
#education h4::before{
    content: '🏫';
}
#education h4::after{

 content: '🏫';
}

#titl::before table,td,th{
    content: '🖊️';
}
.summary ul li::before{
    content:'✍️';
}
.education h4{
    color: #0d5c63;
    font-weight: bolder;
    margin-top: 20px;
}
.education table,th,tr,td{
    border: 1px solid #0d5c63;
    border-collapse: collapse;
    margin-top: 10px;
}
.education th{
    background-color: #0d5c63;
    border: 1px solid rgb(150, 101, 101);
    border-collapse: collapse;
    
    }
.education table,th,tr,td{
    padding: 10px;
}
.education table,tr,td{
    background-color: #e5e3df;
}
.personal h3{
   
    border-color: #0d5c63;
    margin-top: 40px;
    width: 99%;
    background-color: #998156;
    color:#0d5c63;
    padding: 5px;
}
.personal h3::before{
    content: '👨';
}
.personal h3::after{
    content:'👨' ;
}
.personal label{
    color:#0d5c63;
    margin-top: 10px;
    word-spacing: 2px;
   
   }
.personal{

    background-color:rgb(246, 240, 240);
}